	<!-- ABOUT -->
	<div class="grax_tm_section" id="about">
		<div class="grax_tm_about">
			<div class="container">
				<div class="about_inner">
					<div class="left wow fadeInLeft" data-wow-duration="1.5s">
						<div class="image parallax" data-relative-input="true">
							<img src="img/placeholders/3-4.jpg" alt="" />
							<div class="main layer" data-img-url="img/about/1.jpg" data-depth="0.04"></div>
						</div>
					</div>
					<div class="right wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
						<div class="grax_tm_title_holder">
							<h3>About <span>Me</span></h3>
						</div>
						<div class="text">
							<p>Hello! I'm Alan Walker. I'm a web developer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional web developer, I have acquired the skills and knowledge necessary to make your project a success. I enjoy every step of the design process, from discussion and collaboration.</p>
						</div>
						<div class="list">
							<ul>
								<li>
									<div class="list_inner">
										<img class="svg" src="img/svg/checked.svg" alt="" />
										<span>Web Development</span>
									</div>
								</li>
								<li>
									<div class="list_inner">
										<img class="svg" src="img/svg/checked.svg" alt="" />
										<span>Search Engine Optimization</span>
									</div>
								</li>
								<li>
									<div class="list_inner">
										<img class="svg" src="img/svg/checked.svg" alt="" />
										<span>Social Media Marketing</span>
									</div>
								</li>
								<li>
									<div class="list_inner">
										<img class="svg" src="img/svg/checked.svg" alt="" />
										<span>Content Generation</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="grax_tm_button">
							<a href="img/resume/resume.jpg" download>Download CV</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /ABOUT -->