<!-- TOPBAR -->
<div class="grax_tm_topbar">
    <div class="container">
        <div class="topbar_inner">
            <div class="logo">
                <a class="dark" href="{{ site.baseurl }}/"><img src="{{ site.data.topbar.logo.dark }}" alt="Dark Logo" /></a>
                <a class="light" href="{{ site.baseurl }}/"><img src="{{ site.data.topbar.logo.light }}" alt="Light Logo" /></a>
            </div>
            <div class="menu">
                <ul class="anchor_nav">
                    {% for item in site.data.topbar.menu %}
                        <li {% if forloop.first %}class="current"{% endif %}><a href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /TOPBAR -->
